Case Study 2:
Load practice.csv file as a data-frame and perform following operations on the data-frame
1.	Display all columns
2.	create numerical and categorical columns list
3.	display size of the data-frame
4.	rename column MSSubClass -> SubClass, MSZoning -> Zones
5.	display distinct values for Zoning, LotShape, LotConfig
6.	display count of distinct values for Zoning, LotShape, LotConfig
7.	max, min of column YearBuilt
8.	create a new column “year_diff’. This will be holding difference of current year and YearBuilt
9.	display distinct MSZoning for each OverallQual
10.	What is the maximum LotArea where  BsmtExposure = Mn?
11.	Sort dataframe based on following columns and orders: MSSubClass; ascending, YearBuilt; descending
12.	What is average OverallQual.
13.	convert column ‘YearBuilt’ into date type.
14.	Group by YearBuilt and find maximum OverallQal
15.	Load the practice.csv again with MSSubClass as new index
16.	Convert LotArea as numpy array
17.	In column MasVnrArea replace 0 with -1
18.	Check if there is/are any Null values (NaN) in the data given
19.	Display percentage of missing values in each column if any
20.	Select records where LotConfig is Inside
21.	Make a new dataframe with only numeric columns
22.	Make a new dataframe with only factorial/string columns
23.	Drop column ExterQual
24.	Group data on LotShape and find average LotArea
25.	Write code to get a pivot table as shown (average of MSSubClass)

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("top50 - top50.csv")

In [6]:

df.head()
df.describe()

,Unnamed: 0,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
count,50.00000,50.000000,50.000000,50.00000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,25.50000,120.060000,64.060000,71.38000,-5.660000,14.660000,54.600000,200.960000,22.160000,12.480000,87.500000
std,14.57738,30.898392,14.231913,11.92988,2.056448,11.118306,22.336024,39.143879,18.995553,11.161596,4.491489
min,1.00000,85.000000,32.000000,29.00000,-11.000000,5.000000,10.000000,115.000000,1.000000,3.000000,70.000000
25%,13.25000,96.000000,55.250000,67.00000,-6.750000,8.000000,38.250000,176.750000,8.250000,5.000000,86.000000
50%,25.50000,104.500000,66.500000,73.50000,-6.000000,11.000000,55.500000,198.000000,15.000000,7.000000,88.000000
75%,37.75000,137.500000,74.750000,79.75000,-4.000000,15.750000,69.500000,217.500000,33.750000,15.000000,90.750000
max,50.00000,190.000000,88.000000,90.00000,-2.000000,58.000000,95.000000,309.000000,75.000000,46.000000,95.000000

In [5]:
#1.	Display all columns
df.columns

Index(['Unnamed: 0', 'Track.Name', 'Artist.Name', 'Genre', 'Beats.Per.Minute',
       'Energy', 'Danceability', 'Loudness..dB..', 'Liveness', 'Valence.',
       'Length.', 'Acousticness..', 'Speechiness.', 'Popularity'],
      dtype='object')

In [11]:
# 2.	create numerical and categorical columns list
df.select_dtypes(include = 'object').columns

Index(['Track.Name', 'Artist.Name', 'Genre'], dtype='object')

In [17]:
# 3.	display size of the data-frame
df.shape[0]
# help(df.rename)

50

In [16]:
# 4.	rename column MSSubClass -> SubClass, MSZoning -> Zones
df.rename(columns={"MSSubClass" : "SubClass", "MSZoning": "Zones"})
df.columns

Index(['Unnamed: 0', 'Track.Name', 'Artist.Name', 'Genre', 'Beats.Per.Minute',
       'Energy', 'Danceability', 'Loudness..dB..', 'Liveness', 'Valence.',
       'Length.', 'Acousticness..', 'Speechiness.', 'Popularity'],
      dtype='object')

In [ ]:
# 5.	display distinct values for Zoning, LotShape, LotConfig
# 6.	display count of distinct values for Zoning, LotShape, LotConfig
# 7.	max, min of column YearBuilt
# 8.	create a new column “year_diff’. This will be holding difference of current year and YearBuilt
# 9.	display distinct MSZoning for each OverallQual
# 10.	What is the maximum LotArea where  BsmtExposure = Mn?
# 11.	Sort dataframe based on following columns and orders: MSSubClass; ascending, YearBuilt; descending
# 12.	What is average OverallQual.
# 13.	convert column ‘YearBuilt’ into date type.
# 14.	Group by YearBuilt and find maximum OverallQal
# 15.	Load the practice.csv again with MSSubClass as new index
# 16.	Convert LotArea as numpy array
# 17.	In column MasVnrArea replace 0 with -1
# 18.	Check if there is/are any Null values (NaN) in the data given
# 19.	Display percentage of missing values in each column if any
# 20.	Select records where LotConfig is Inside
# 21.	Make a new dataframe with only numeric columns
# 22.	Make a new dataframe with only factorial/string columns
# 23.	Drop column ExterQual
# 24.	Group data on LotShape and find average LotArea
# 25.	Write code to get a pivot table as shown ( average of MSSubClass)